body{
    background-color: #19c8ce;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.formulario{
    background: rgba(0,.0,.0,.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.556);
}

.form-control{
    background: rgba(0,.0,.0,.3);
    border-style: none;
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
}


.form-control:focus{
    background: none;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder{
    color: #ffffff;
}

.ingresar{
    background: #1951ce;
    font-size: 18px;
    font-weight: 700;
    width: 350px;
    color: #ffffff;
    box-shadow: 0 0 20px rgb(243, 245, 241);
    transition: 0.5s ease-in;
}

.ingresar:focus{
    color: #ffffff;
}

.checkbox_label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

